<footer>
    <a class="text-color-white text-uppercase" href="/mentions-legales">Mentions légales</a>
    <div class="container-row responsive-row">
        <a aria-label="Lien vers le LinkedIn de Marina Créativité" class="image-link linkedin" href="{{ site.linkedin_url}}" target="_blank"></a>
        <a aria-label="Lien vers le Behance de Marina Créativité" class="image-link behance" href="{{ site.behance_url }}" target="_blank"></a>
        <a aria-label="Lien vers le profil pro de Marina Créativité" class="image-link malt" href="{{ site.malt_url }}" target="_blank"></a>
    </div>
</footer>