<nav>
    <a href="/" class="logo-link">
        <img alt="Logo de marina-creativite.fr" src="/assets/images/logo.svg" alt="" />
    </a>
    <div class="mobile-icon hidden"></div>
    <ul class="nav-menu">
        {% for link in site.navigation %}
            {% assign active = '' %}
            {% if page.url contains link.url %}
                {% assign active = 'active' %}
            {% endif %}
            <li><a href="{{ link.url }}" class="{{ active }} {{ link.color }}">{{ link.text }}</a></li>
        {% endfor %}
    </ul>
</nav>