#about {
    z-index: 1;
    position: relative;
    padding-bottom: 70px;
    background-color: $color-bg-m;
}

#about .right-content {
    padding-top: 20px;
}

.mire {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-image: url(/assets/images/mire_1.png), url(/assets/images/mire_2.png);
    background-position: left calc(100% + 110px), right -110px;
    background-repeat: no-repeat;
    background-size: 175px, 175px;
    pointer-events: none;
}

#about .content {
    padding: 0 $h-gutter;
    background-color: $color-bg-m;
    z-index: 0;
    border-top: 150px solid white;
}

#about .content img {
    display: block;
    position: relative;
    align-self: flex-start;
    width: 200px;
    top: -60px;
    padding: 5px;
}