#about {
    z-index: 1;
    position: relative;
    padding-bottom: 70px;
    background-color: $color-bg-m;
}

#about .right-content {
    padding-top: 20px;
}

#about .content {
    padding: 0 $h-gutter;
    background-color: $color-bg-m;
    z-index: 0;
    border-top: 150px solid white;
}

#about .content .marina img {
    display: block;
    position: relative;
    align-self: flex-start;
    width: 200px;
    top: -60px;
    padding: 5px;
}

#about .testimony-logo {
    margin-bottom: 20px;
    margin-top: 20px;
}