#about {
    z-index: 1;
    position: relative;
    background-color: $color-bg-y;
}

#about .right-content {
    padding-top: 20px;
}

#about .container-item-1 {
    align-self: flex-start;
}

#about .content, #expertise .content     {
    padding: 0 $h-gutter;
    z-index: 0;
    border-top: 150px solid white;
}

#about .content .marina img {
    display: block;
    position: relative;
    align-self: flex-start;
    width: 200px;
    top: -60px;
    padding: 5px;
}

#about .testimony-logo {
    margin-bottom: 20px;
    margin-top: 20px;
}

#about .container-col.centered-content {
    align-items: center;
    gap: 15px;
}

#about .container-col.centered-content .button {
    width: 200px;
    text-align: center;
    margin: 0 auto;
}

#about #title {
    padding-bottom: 50px;
}

#about .background-heading {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url('/assets/images/deco_apropos_1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 35px;
    padding-bottom: 35px;
}

#about #expertise {
    background-color: white;
    border-top: none;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (max-width: 768px) {
    #about .button ~ .button {
        margin-left: 0;
    }
    #about .button {
        margin-top: 10px;
    }
    #about .background-heading {
        padding-left: 20px;
        padding-right: 20px;
    }
}