html, body {
    background-color: #FFF;
    padding: 0;
    margin: 0;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'LibreBodoni';
    margin: 1rem 0;
}

h1 {
    font-size: 2.3rem;
}

p, a, button, a.button {
    font-family: 'Montserrat';
}

p {
    font-size: 0.9rem;
}

a {
    text-decoration: none;
}

button, a.button {
    font-weight: bold;
    text-transform: uppercase;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    padding: 10px $h-gutter;
    justify-content: space-between;
    height: $nav-height;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-transform: uppercase;
}

nav ul li {
    font-family: 'Montserrat';
    font-weight: bold;
    margin-right: 25px;
    font-size: 0.9rem;
}
nav ul li:last-child {
    margin-right: 0px;
}

footer {
    display: flex;
    background-color: #000;
    width: 100%;
    min-height: 100px;
    align-items: center;
    justify-content: space-evenly;
    z-index: 3;
}

button, a.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    width: 260px;
    background-color: #000;
    color: $color-text-light;
    height: 42px;
    padding: 4px;
    font-size: 0.8rem;
}
a.button {
    line-height: 16px;
    text-align: center;
}
button.outline, a.button.outline {
    background-color: transparent;
    color: #000;
}

nav a {
    text-decoration: none;
    color: #000;
}

.button ~ .button {
    margin-left: 25px;
}

.mobile-icon {
    display: none;
    width: 75px;
    height: 75px;
    background-image: url(/assets/images/burger.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    cursor: pointer;
}

footer a {
    margin: 0 8px;
}

.image-link {
    display: block;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.image-link.linkedin {
    background-image: url('/assets/images/linkedin.svg');
}
.image-link.malt {
    background-image: url('/assets/images/malt.svg');
}
.image-link.behance {
    background-image: url('/assets/images/behance.svg');
}

.block-link {
    cursor: pointer;
}

.post-content {
    padding: 0 $h-gutter;
    max-width: 780px;
    margin: 0 auto;
}