#creations {
    background-color: $color-bg-y;
    padding: 60px $h-gutter;
}

.creations-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.creations-nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    text-transform: uppercase;
    padding: 0;
}

.creations-nav ul li {
    font-family: 'Montserrat';
    margin-right: 25px;
    font-size: 0.8rem;
    cursor: pointer;
}
.creations-nav ul li.active {
    font-weight: bold;
}

.image-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, calc(33vw - 25px));
    grid-auto-rows: calc(33vw - 25px);
    gap: 10px;
}

.image-container {
    margin: 0;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}