#creations {
    background-color: $color-bg-m;
    padding: 60px $h-gutter;
    padding-top: 120px;
}

.creations-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.creations-nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    text-transform: uppercase;
    padding: 0;
}

.creations-nav ul li {
    font-family: 'Montserrat';
    margin-right: 25px;
    font-size: 0.8rem;
    cursor: pointer;
}
.creations-nav ul li.active {
    font-weight: bold;
}

.image-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, calc(33vw - 25px));
    grid-auto-rows: calc(33vw - 25px);
    gap: 10px;
}

.image-container {
    margin: 0;
    transform: scale(1.0);
    transition: transform 0.21s ease-in-out;
    cursor: zoom-in;
}

.image-container.loading {
    background-color: #000000;
    opacity: 0.09;
    animation: blink 1.6s ease-in-out infinite;
}

@keyframes blink {
    0% { opacity: 0.09; }
    50% { opacity: 0.12; }
    100% { opacity: 0.09; }
}

.image-container:hover {
    transform: scale(1.02);
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#creations .image-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 11;
    backdrop-filter: blur(8px);
}

#creations .image-overlay .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

#creations .image-overlay .nav-icon {
    position: absolute;
    height: 100%;
    width: 90px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}
#creations .image-overlay .left-button:hover {
    transform: translateX(-3px);
}
#creations .image-overlay .right-button:hover {
    transform: translateX(3px);
}

#creations .image-overlay .left-button {
    left: 0;
    background-image: url(/assets/images/left.svg);
}
#creations .image-overlay .right-button {
    right: 0;
    background-image: url(/assets/images/right.svg);
}

#creations .image-overlay .image img {
    width: 80%;
    object-fit: contain;
    max-height: 90%;
}

.creation-link:hover {
    font-weight: 600;
}