#legals {
    z-index: 1;
    position: relative;
    padding-bottom: 140px;
    background-color: $color-gray;
    background-image: url(/assets/images/print_test_cmyb.svg);
    background-position: calc(0px + $h-gutter) calc(100% - 50px);
    background-repeat: no-repeat;
    background-size: 500px;
}

#legals .content {
    padding: 0 $h-gutter;
    background-color: $color-gray;
    z-index: 0;
    border-top: 150px solid white;
}