.post-content img.small {
    width: 100px;
}
.post-content img.medium {
    width: 200px;
}
.post-content img.large {
    width: 400px;
}

.post-content {
    padding-bottom: 100px;
    padding-top: calc($nav-height + 80px);
    background-color: $color-gray;
}

.post-content .container-row img {
    margin-right: 20px;
}
.post-content .container {
    margin-bottom: 20px;
    padding: 0px;
}

.post-content a {
    text-decoration: underline;
    color: #000;
}