$color-c: #009FE3;
$color-m: #E6007E;
$color-y: #FFED00;
$color-text: #000;
$color-text-light: #FADCEB;
$color-gray: #DADADA;
$color-bg-m: #FADCEB;
$color-bg-y: #FFFBDC;
$h-gutter: 1rem;
$bottom-spacing: 5rem;
