---
---
@charset 'UTF-8';

@import "variable";
@import "font";
@import "base";
@import "creations";
@import "apropos";
@import "contact";
@import "legals";
@import "blog";
@import "post";

.logo-link img {
    width: 250px;
}

#hero {
    display: flex;
    background-color: $color-gray;
    min-height: 200px;
    padding: 30px $h-gutter;
    padding-top: 120px;
}
#hero img {
    display: block;
    width: 500px;
}

.logo-link {
    line-height: 100px;
}

#cta {
    position: relative;
    min-height: 200px;
}

#testimonies {
    background-color: $color-bg-c;
    margin: 0;
    padding: 40px $h-gutter;
}
#testimonies img {
    margin: 10px;
}

.nav-menu li a.active {
    border-bottom: solid 3px black;
}
.nav-menu li a.active.color-c {
    border-color: $color-c;
}
.nav-menu li a.active.color-m {
    border-color: $color-m;
}
.nav-menu li a.active.color-y {
    border-color: $color-y;
}

#cta .top-content {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    background-image: url(/assets/images/print_test_cm.svg), url(/assets/images/print_test_yb.svg);
    background-position: calc(0px - 10px) calc(0px + 50px), calc(100% + 10px) calc(100% - 50px);
    background-repeat: no-repeat;
    background-size: 250px;
    min-height: 250px;
    align-items: center;
    justify-content: center;
}
#cta .top-content p {
    margin: 0;
}
#cta .bottom-content {
    background-color: $color-bg-m;
    min-height: 200px;
    padding: 15px 2rem;
}

#cta .bottom-content img {
    display: block;
    position: relative;
    top: -60px;
    width: 200px;
    padding: 5px;
}

.color-c {
    color: $color-c;
}
.color-m {
    color: $color-m;
}
.color-y {
    color: $color-y;
}

.buttons-container {
    display: flex;
    flex-direction: row;
}
.buttons-container a {
    transition: all 0.2s ease-in-out;
}
.bottom-content .buttons-container {
    margin: auto 0;
    padding-bottom: 60px;
}
.button:hover {
    background-color: transparent;
    color: black !important;
}
.button.outline:hover {
    background-color: black;
    color: $color-gray !important;
}

.container-col {
    display: flex;
    flex-direction: column;
}
.container-row {
    display: flex;
    flex-direction: row;
}
.container-row.centered-content {
    align-items: center;
    justify-content: center;
}
.container-row.wrap {
    flex-wrap: wrap;
}
.container-row.spaced {
    justify-content: space-evenly;
}
.container-row.spaced-content {
    justify-content: space-between;
}

.container-item-1, .container-item-2, .container-col.col-1 {
    flex: 1;
}

.text-light {
    font-weight: 200;
}
.text-color-m {
    color: $color-m !important;
}
.text-color-m-light {
    color: $color-bg-m !important;
}
.text-color-c {
    color: $color-c;
}
.text-color-y {
    color: $color-y;
}
.text-color-black {
    color: #000;
}
.text-color-white {
    color: #FFF;
}
.text-uppercase {
    text-transform: uppercase;
}
.top-space {
    margin-top: 40px;
}
.text-center {
    text-align: center;
}
.no-top-margin {
    margin-top: 0;
}

.link {
    color: $color-m;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}

.container {
    padding: $v-spacing $h-gutter;
}

i.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin-bottom: 2px;
    margin-right: 4px;
}

i.icon.linkedin {
    @include linkedin-icon('000');
}
i.icon.behance {
    @include behance-icon('000');
}
i.icon.malt {
    @include malt-icon('000');
}

@media (max-width: 768px) {
    .container-row:not(.responsive-row) {
        flex-direction: column;
    }
    .buttons-container {
        justify-content: initial;
    }
    #hero img {
        width: 100%;
    }
    #cta .bottom-content img {
        width: 140px;
    }
    #cta .top-content {
        height: 450px;
    }
    nav {
        padding: 0 $h-gutter;
    }
    .nav-menu {
        display: none;
        position: absolute;
        left: 0;
        flex-direction: column;
        width: 100vw;
        background-color: $color-bg-y;
        top: 55px;
        padding: 0;
        padding-top: 30px;
        padding-bottom: 30px;
        z-index: 10;
    }
    .nav-menu li {
        margin: 6px 0;
        text-align: center;
    }
    .mobile-icon {
        display: block;
    }
    #about {
        padding-bottom: 150px;
    }
    #about .content .marina img, #contact .content img {
        width: 140px;
    }

    #contact, #legals {
        background-position: center calc(100% - 50px);
        background-size: 90%;
    }

    #blog .featured img {
        width: 100%;
        margin: 0 auto;
    }
    #blog .post-list img {
        max-height: initial;
    }
    #blog .post-list {
        grid-template-columns: 100%;
    }

    #creations .creations-nav ul {
        flex-direction: column;
        padding: 0;
    }

    .post-content img {
        width: 100% !important;
    }
    .post-content .container-row {
        flex-direction: column-reverse;
    }
    .half {
        width: 100%;
    }

    #about .testimonies img {
        width: 70px;
    }

    #about .testimonies {
        display: none;
    }

    #testimonies img {
        width: 75px;
    }
}

@media (max-width: 480px) {
    .logo-link img {
        width: 175px;
    }
}