---
---
@import "variable";
@import "base";

html, body {
    background-color: #FFF;
    padding: 0;
    margin: 0;
    height: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    padding: 10px $h-gutter;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-transform: uppercase;
    justify-content: space-between;
    flex: 1;
}

footer {
    background-color: #000;
    width: 100%;
    min-height: 100px;
}

button {
    border: 1px solid #000;
    width: 260px;
    background-color: #000;
    color: $color-text-light;
    height: 42px;
}
button.outline {
    background-color: transparent;
    color: #000;
}

#hero {
    display: flex;
    flex-direction: row;
    background-color: $color-gray;
    min-height: 200px;
    padding: 30px $h-gutter;
}
#hero img {
    display: block;
    width: 500px;
    margin: 0 auto;
}

#cta {
    position: relative;
    min-height: 200px;
}

#cta .top-content {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    background-image: url(/assets/images/mire_1.png), url(/assets/images/mire_2.png);
    background-position: left 70px, right -110px;
    background-repeat: no-repeat;
    background-size: 175px, 175px;
    min-height: 250px;
    align-items: center;
    justify-content: center;
}
#cta .top-content h1, #cta .top-content p {
    margin: 0;
}
#cta .bottom-content {
    background-color: $color-bg-m;
    min-height: 200px;
    padding: 15px 1rem;
}

#cta .bottom-content img {
    display: block;
    position: relative;
    top: -60px;
    width: 200px;
    padding: 5px;
}

nav a {
    text-decoration: none;
    color: #000;
}
.color-c {
    color: $color-c;
}
.color-m {
    color: $color-m;
}
.color-y {
    color: $color-y;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom-content .buttons-container {
    margin: auto 0;
    padding-bottom: 60px;
}

.container-col {
    display: flex;
    flex-direction: column;
}
.container-row {
    display: flex;
    flex-direction: row;
}
.container-row.centered-content {
    align-items: center;
    justify-content: center;
}

.container-item-1, .container-item-2, .container-col.col-1 {
    flex: 1;
}
