---
---
@import "variable";
@import "font";
@import "base";
@import "creations";
@import "apropos";

#hero {
    display: flex;
    flex-direction: row;
    background-color: $color-gray;
    min-height: 200px;
    padding: 30px $h-gutter;
}
#hero img {
    display: block;
    width: 500px;
    margin: 0 auto;
}

#cta {
    position: relative;
    min-height: 200px;
}

#cta .top-content {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    background-image: url(/assets/images/mire_1.png), url(/assets/images/mire_2.png);
    background-position: left 70px, right -110px;
    background-repeat: no-repeat;
    background-size: 175px, 175px;
    min-height: 250px;
    align-items: center;
    justify-content: center;
}
#cta .top-content p {
    margin: 0;
}
#cta .bottom-content {
    background-color: $color-bg-m;
    min-height: 200px;
    padding: 15px 1rem;
}

#cta .bottom-content img {
    display: block;
    position: relative;
    top: -60px;
    width: 200px;
    padding: 5px;
}

.color-c {
    color: $color-c;
}
.color-m {
    color: $color-m;
}
.color-y {
    color: $color-y;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom-content .buttons-container {
    margin: auto 0;
    padding-bottom: 60px;
}

.container-col {
    display: flex;
    flex-direction: column;
}
.container-row {
    display: flex;
    flex-direction: row;
}
.container-row.centered-content {
    align-items: center;
    justify-content: center;
}
.container-row.spaced-content {
    justify-content: space-between;
}

.container-item-1, .container-item-2, .container-col.col-1 {
    flex: 1;
}

.text-light {
    font-weight: 200;
}
.text-color-m {
    color: $color-m;
}
.text-color-c {
    color: $color-c;
}
.text-color-black {
    color: #000;
}
.text-color-white {
    color: #FFF;
}
.text-uppercase {
    text-transform: uppercase;
}
.top-space {
    margin-top: 40px;
}
.text-center {
    text-align: center;
}
.no-top-margin {
    margin-top: 0;
}